.git
.env
.env.backup
.editorconfig
.gitattributes
.gitignore
Dockerfile
.dockerignore
docker-compose.yml
README.md
vendor
node_modules
tests
phpunit.xml
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache/*.php
